# ---------------------------------
# Node / Express
# ---------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment variables
.env
.env.local
.env.*.local
google-wallet.json
package-lock.json
# public/package-lock.json
yarn.lock
public/yarn.lock
# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pids/
*.pid
*.seed
*.pid.lock

# local build output
dist/
build/
certs/
# test coverage
coverage/

# system files
.DS_Store
Thumbs.db

# ---------------------------------
# React (create-react-app / Vite / Next.js)
# ---------------------------------
# dependencies
node_modules/

# production
build/
dist/

# misc
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac
.DS_Store

# Windows
Thumbs.db


# SQLite database files
*.db
*.db-*
*.sqlite
*.sqlite3

*.pkpass

twilio_media/
invoice_json_storage/
invoice_storage/