/* fonts.css */

@font-face {
  font-family: 'Noto Serif';
  src: url('./fonts/NotoSerif-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif Italic';
  src: url('./fonts/NotoSerif-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: FigtreeVF;
  src: url('./fonts/Figtree-VariableFont_wght') format('truetype');
  font-weight: 100 1000;
  font-display: swap
}

@font-face {
  font-family: FigtreeVF-Italic;
  src: url('./fonts/Figtree-Italic-VariableFont_wght') format('truetype');
  font-weight: 100 1000;
  font-display: swap
}