$status-green: #199647;
$status-red: rgb(184, 1, 1);
;
$up-bg-color: rgba(71, 213, 32, 0.10);
$down-bg-color: rgba(213, 32, 32, 0.10);

.paper-container {
    margin-bottom: 8px;
    max-width: 500px;
    padding: 20px;

    &.up {
        background-color: $up-bg-color !important;
    }

    &.down {
        background-color: $down-bg-color !important;
    }

    .status-container {
        display: flex;
        justify-content: start;
        align-items: center;
        min-height: 25px;

        .status-info {
            padding-left: 10px;

            &.up {
                color: $status-green
            }

            &.down {
                color: $status-red
            }
        }

        .status-dot {
            margin-left: 20px;
            width: 10px;
            height: 10px;
            background: $status-green;
            border-radius: 50%;
            display: inline-block;
            position: relative;


            &.pulse {
                &::after {

                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: 50%;
                    background: rgba($status-green, 0.6);
                    animation: pulse-ring 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
                }
            }

            &.down {
                background: $status-red
            }
        }
    }
}

@keyframes pulse-ring {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    70% {
        transform: scale(3);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}